@font-face {
    font-family: "Inter-Bold";
    src: local("Inter-Bold"),
        url("../fonts/Inter-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: local("Inter-SemiBold"),
        url("../fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Inter-Regular";
    src: local("Inter-Regular"),
        url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Light";
    src: local("Inter-Light"),
        url("../fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Light";
    src: local("Inter-Light"),
        url("../fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy-Light";
    src: local("Gilroy-Light"),
        url("../fonts/Gilroy-Light.otf") format("truetype");
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: local("Gilroy-ExtraBold"),
        url("../fonts/Gilroy-ExtraBold.otf") format("truetype");
}

body {
    margin: 0;
    font-family: 'Inter-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}